.hero-screen {
  @include backgroundImage(
    "https://images.unsplash.com/photo-1558346648-9757f2fa4474?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
  );
  @include flexThis("center");
  text-align: center;
  height: 100vh;
  @media (max-width: $phone-big) {
    height: auto;
  }
  color: white;

  .highlighted {
    @media (max-width: $phone-big) {
      height: auto;
      padding: 3rem 0;
    }
  }

  .btn {
    margin: 0.3rem 0;
  }

  .desktop {
    display: block;
    @media (max-width: $phone-big) {
      display: none;
    }
  }

  .phone {
    display: none;
    @media (max-width: $phone-big) {
      display: block;
      margin-bottom: 3rem;
    }
  }


  h2 {
    font-size: 18px;
    margin-bottom: 4rem;
  }
}

.row {
  margin: 0 !important;
}
