body {
  background-color: $background !important;
}

.highlighted {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  background-color: $accent;
  height: 100%;
  color: white;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  width: 98.9vw;
}

.center-in-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .row {
    width: 100%;
  }
}
