@mixin flexThis($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin backgroundImage($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
}
