.contact-me-screen {
  @include backgroundImage(
    "https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80"
  );
  height: 100vh;
  text-align: center;
  @include flexThis("center");

  h1 {
    color: black;
  }

  .highlighted {
    @include flexThis("center");

    .btn {
      margin-bottom: 2rem;
    }
  }

  @media (max-width: $phone-big) {
    height: auto !important;
    flex-direction: column-reverse;
    padding: 3rem 0;

    h1 {
      padding-bottom: 3rem;
    }

    .highlighted {
      height: auto !important;
      background: none;
    }
  }
}
