@import 'scss/mixins';
@import 'scss/variables';

.hero {
  @include backgroundImage('~assets/img/background-4.webp');
  @include flexThis('center');
  text-align: center;
  height: 100vh;
  @media (max-width: $phone-big) {
    height: auto;
  }
  color: white;

  .highlighted {
    @media (max-width: $phone-big) {
      height: auto;
      padding: 3rem 0;
    }
  }

  .btn {
    margin: 0.3rem 0;
  }

  .desktop {
    display: block;
    @media (max-width: $phone-big) {
      display: none;
    }
  }

  .phone {
    display: none;
    @media (max-width: $phone-big) {
      display: block;
      margin-bottom: 3rem;
    }
  }

  .h2 {
    font-size: 18px;
    margin-bottom: 4rem;
  }
}

.row {
  margin: 0 !important;
}

@media (min-width: $largeDesktop) {
  .image {
    height: 700px;
  }
}
