@import "./components/SkillBar/progress-bar";

.skills-screen {
  @include backgroundImage("~assets/img/background-1.webp");
  height: 100vh;

  @media (max-width: $phone-big) {
    height: auto;

    .highlighted {
      height: auto;
      padding: 3rem 0;
    }

    .center-in-screen {
      padding-bottom: 3rem;
      display: flex;
      justify-content: center !important;
      flex-direction: column;
      background-color: rgba($accent, 0.8);
      height: 100%;
      color: white;
    }
  }

  text-align: center;
}
